<button {{action 'plus'}} class="plus"></button>
<button {{action 'minus'}} class="minus"></button>
{{#if editable}}
  {{advanced-form/time/input value=value}}
{{else}}
  {{advanced-form/time/input value=value disabled=disabled}}
{{/if}}