<button {{action 'plus'}} class="plus"></button>
<button {{action 'minus'}} class="minus"></button>
{{#if editable}}
  {{input type="text" value=value}}
{{else}}
  {{input type="text" value=value disabled="disabled"}}
{{/if}}