<h2 id="title">Welcome to Ember</h2>

<div style="width:200px">
  {{advanced-form/integer min="5" value="10" max="20"}}
  {{advanced-form/time value="10:58:55" editable=true}}
  {{advanced-form/time value="10:29:55" editable=true max="--:30:30"}}
  {{advanced-form/float min="5.50" value="10" max="20" precision="2" step="0.5"}}
  {{advanced-form/select list=model.countries mapLabel="name" mapID="ID" model=model.user modelProperty="country"}}
  {{advanced-form/simple-select list=countryList selectedValue="United Kingdom"}}
</div>

{{outlet}}
